/* clicker game */
/* PT102 */
/* Seamus Geoghegan */
/* sets up the fonts */
@font-face {
  font-family: "OpenDyslexic3-Regular";
  src: url("fonts/OpenDyslexic3-Regular.ttf");
}

@font-face {
  font-family: "OpenDyslexic3-Bold";
  src: url("fonts/OpenDyslexic3-Bold.ttf");
}

/*back ground colour */
body{
  background-color: black;
}

/* styles shop buttons */
.shopBut{
  background-color: #ffffff;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  width: 275px;
  height: 100px;
  text-align: center;
  line-height: 1.4;
  text-decoration: none;
  font-family: "OpenDyslexic 3";
  font-size: 32px;
  display: block;
}

/* positions div1 */
#div1{
  position: absolute;
  right: 0px;
}

/* styles shapes and positions them */
#triSVGPos{
  fill: red;
  position: absolute;
  left: 0px;
  top: 100px;
  overflow: visible;
  padding: 0px;
}

#squSVGPos{
  fill: aquamarine;
  position: absolute;
  left: 100px;
  top: 100px;
  overflow: visible;
  padding: 0px;
}

#penSVGPos{
  fill: rgb(88, 75, 143);
  position: absolute;
  left: 200px;
  top: 100px;
  overflow: visible;
  padding: 0px;
}

#hexSVGPos{
  fill: rgb(204, 40, 122);
  position: absolute;
  left: 350px;
  top: 100px;
  overflow: visible;
  padding: 0px;
}

#sepSVGPos{
  fill: rgb(16, 206, 48);
  position: absolute;
  left: 500px;
  top: 100px;
  overflow: visible;
  padding: 0px;
}

#octSVGPos{
  fill: rgb(206, 76, 16);
  position: absolute;
  left: 700px;
  top: 100px;
  overflow: visible;
  padding: 0px;
}

/* curreny count style */
#currencyCo{
  font-family: "OpenDyslexic 3";
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  top: 30px;
}

/* player name style */
#playerName{
  font-family: "OpenDyslexic 3";
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  top: 2px;
}